extends layout.pug

block content

	nav.nav
		a(href='/')
			span &larr;
			|  Back

	article.portfolio-projects
		.inner-wrapper.flex-row-wrap.two-col
			.project-info-box.box
				h1 #{projectData.project_name}
				p #{projectData.description}

			.project-tech-links-box.box
				h6 Technologies
				ul 
					each item in projectData.technologies
						li #{item}

				a.btn-link(href=`${projectData.live_link}`) Live Demo
				a.btn-link(href=`${projectData.github_link}`) GitHub Repo

	.project-img-box.box
		img.project-img(src=`/static/images/${projectData.image_urls[1]}`, alt='')

	nav.nav
		a(href='/')
			span &larr;
			|  Back